In [3]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_excel("data_final.xlsx")
df.head()

   observation  feature   price
0         0.44     0.68  511.14
1         0.99     0.23  717.10
2         0.84     0.29  607.91
3         0.28     0.45  270.40
4         0.07     0.83  289.88

In [6]:

df.describe()

#X=final_dataset.iloc[:,:-1]
#y=final_dataset.iloc[:,]

       observation     feature        price
count   100.000000  100.000000   100.000000
mean      0.550300    0.501700   554.214600
std       0.293841    0.307124   347.312796
min       0.010000    0.000000    42.080000
25%       0.300000    0.230000   278.172500
50%       0.570000    0.485000   514.285000
75%       0.822500    0.760000   751.752500
max       1.000000    0.990000  1563.820000

In [7]:
df.isnull().sum()

observation    0
feature        0
price          0
dtype: int64

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
import numpy as np

poly = PolynomialFeatures(degree=3)	
poly.fit(np.array(X))
regression = LinearRegression()
regression.fit(poly.transform(np.array(X)

SyntaxError: unexpected EOF while parsing (1204762792.py, line 8)